<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>auth</title>
</head>
<body>
  <h1>Auth Page</h1>
  <div>
    <h3>Login</h3>
    <form action="{{ url_for('auth.auth_login') }}" method="POST">
      {{ csrf_token() }}
      <div>
        <label for="email-fr-usr">Email:</label>
        <input type="email" name="email-fr-usr" id="email-fr-usr" required placeholder="Email">
      </div>
      <div>
        <label for="password-fr-usr">Password:</label>
        <input type="password" name="password-fr-usr" id="password-fr-usr" required placeholder="Password">
      </div>
      <div>
        <input type="submit" value="Login">
      </div>
    </form>
  </div>
</body>
</html>